
.header__container {
	@include flex_space_bettwen;
}

.phone {
	font-weight: bold;
}

.header {
	&__nav {
		padding: 10px 0 0 0;
		position: fixed;
		top: 0;
		left: 0;

		width: 100%;
		background: white;
		z-index: 20;

		.nav-phone {
			font-size: 14px;
			font-weight: bold;
		}

		.menu {
			width: 70%;
			height: 30px;
			@include flex_space_bettwen;
			align-items: center;

			&__link{
				font-size: 14px;
				font-weight: 500;
				color:black;
				height: 70%;
				&:hover{
					border-bottom: #c91111 2px solid;
				}
			}
		}

		.btn-modal {
			@include btn(30px,140px,$btnColorRed);
			font-size: 12px;
			font-weight: bold;
		}
		.header__nav_bottom_line{
			margin-top: 10px;
			height: 1px;
			width: 100%;
			background-color:#eeeeee;
		}
	}
	

	&__content {
		padding: 10px 0 10px 0;
		margin-top: 60px;

		.online {
			@include flex(row, flex-end,center);
			width: 70%;
		}

		.header__subtitle {
			font-size: 14px;
			font-weight: 500;
			margin-right: 20%;
		}

		.header__network {
			@include flex_space_bettwen;
			.android-icon,.apple-icon {
				width: 40px;
				height: 40px;

				border:solid 1px #e42626;
				border-radius: 5px;
				margin:0 5px 0 5px;

				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.1s;
				cursor: pointer;
				&:hover {
					transform: scale(1.1);
				}

				img{
					height: 60%;
					width: 60%;
				}
			}
		}

		.content-phone {
			font-size: 18px;
			margin-right: 4%;
		}
	}
}