.tarrifs{
    
    background: #f5f5f5;
    &__container{
        padding: 12vh 0 22vh 0;
    }
    &__titles{
        padding:0 20px 0 20px;
        h1{
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 3vh;
        }
        h3{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 7vh;
        }
    }
    &__cards{
        display: flex;
        justify-content: space-between;
    }
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 0 5vh 0;
        min-height: 600px;
        width: 33%;
        border: 1px solid #f5f5f5;
        background: white;
        img{
            width: 230px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    &__card-title{
        h3{
            text-align: center;
            font-size: 20px;
        }
    }
    &__card-text{
        width: 90%;
        margin-top: 30px;
        min-height: 300px;
        p{
            font-size: 13px;
            padding: 10px 0 10px 0;
        }
        
    }
    &__row{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #f5f5f5;
        &:nth-child(5){
            border-bottom: 1px solid #f5f5f5;
        }
    }
    &__price{
        font-size: 14px;
        margin-bottom: 30px;
        text-align: center;
        span{
            font-size: 24px;
            font-weight: bold;
        }
    }
    &__btn-orange{
        @include btn (60px, 70%, #fc1800);
        font-size: 15px;
    }
    &__btn-green{
        @include btn (60px, 70%, #008c00);
        font-size: 15px;
    }
    &__btn-blue{
        @include btn (60px, 70%, #001261);
        font-size: 15px;
    }
}